* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Jost", sans-serif;
}

.font-Kalnia {
    font-family: "Kalnia Glaze", serif;
    font-weight: 700;
}

.text-green {
    color: #82A93C !important;
}

.z-index {
    z-index: 1;
}

.row {
    --bs-gutter-x: 0rem !important;
}

/* Mobile View hdr */

.bg-img {
    background-image: url(../img/silde1.png);
    width: 100%;
    height: 524.87px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-img::before {
    content: '1111111';
    position: absolute;
    width: 100%;
    height: 524.87px;
    top: 0%;
    left: 0%;
    z-index: 1;
    background-color: #2121218a;
}

.mouse-icon {
    position: absolute;
    top: 125%;
    left: 41%;
    font-size: 30px;
}

.border-mouse {
    border: 1px dashed #82A93C;
    rotate: -90deg;
    width: 90px;
}

@media (max-width:425px) {
    .mouse-icon {
        position: absolute;
        top: 130%;
        left: 32%;
        font-size: 30px;
    }

}

.pos-ab {
    content: 'projects';
    position: absolute;
    text-align: center;
    top: 35%;
    left: 29%;
    color: white;
    z-index: 1;
}

.pos-ab p {
    font-size: 18px;
}

@media (max-width : 320px) {
    .pos-ab {
        top: 31%;
        left: 1%;
    }
}

@media (max-width:1440px) {
    .pos-ab {
        content: 'projects';
        position: absolute;
        text-align: center;
        top: 30%;
        left: 24%;
        color: white;
        z-index: 1;
    }
}

@media (max-width:1024px) {
    .pos-ab {
        content: 'projects';
        position: absolute;
        text-align: center;
        top: 35%;
        left: 15%;
        color: white;
        z-index: 1;
    }
}

@media (max-width : 768px) {
    .pos-ab {
        left: 3%;
    }

    .fs-64 {
        font-size: 45px;
    }

    .pos-ab p {
        font-size: 16px;
    }

    .pos-ab {
        content: 'projects';
        position: absolute;
        text-align: center;
        top: 31%;
        left: 2%;
        color: white;
        z-index: 1;
    }
}



/* main slide */
.fs-64 {
    font-size: 64px;
}

.btn-green {
    background-color: #82A93C !important;
    border-radius: 0 !important;
    padding: 10px 30px 10px 30px !important;
}

.carousel-indicators {
    display: none !important;
}

.carousel-caption {
    position: absolute;
    right: 20%;
    bottom: 170px !important;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

/* Our Amenities */
:root {
    --main-green: rgba(130, 169, 60, 1);
    --white: rgba(255, 255, 255, 1);
    --light-gry: rgba(45, 45, 45, 1);
    --for-font-gry: rgba(127, 127, 127, 1);
    --full-body-bk: rgba(27, 27, 27, 1);

}

/* need */
.need .row {
    background-color: var(--light-gry);
}

.pic {
    width: 100%;
    display: flex;
    justify-content: center;
}

.need_pd {
    padding: 15px 35px;
    text-align: center;
    background-color: var(--light-gry);
}

.need_pd:hover {
    color: var(--main-green);
}

.need_pd p {
    margin: 0;
}

.op_i {
    background-image: url(../img/play-ground.png);
    height: 76px;
    width: 76px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.op_ii {
    background-image: url(../img/parking.png);
    height: 76px;
    width: 76px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.op_iii {
    background-image: url(../img/terrace.png);
    height: 76px;
    width: 76px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.op_iv {
    background-image: url(../img/gym.png);
    height: 76px;
    width: 76px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.op_v {
    background-image: url(../img/Sit-Out-Area.png);
    height: 76px;
    width: 76px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pic_l1 {
    background-image: url(/img/img1.jpg);
    height: 457px;
    width: 98%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 23px 0px;
}

.pic_l2 {
    background-image: url(/img/img1.jpg);
    height: 457px;
    width: 98%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 23px 0px;
}

.pic_l3 {
    background-image: url(/img/img1.jpg);
    height: 457px;
    width: 98%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 23px 0px;
}

.pic_l4 {
    background-image: url(/img/img1.jpg);
    height: 457px;
    width: 98%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 23px 0px;
}

.pic_l5 {
    background-image: url(/img/img1.jpg);
    height: 457px;
    width: 98%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 23px 0px;
}

.need_pd p,
.need p {
    font-family: "Jost", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.16px;
    padding-top: 10px;
    color: var(--white);
}

.tabcontent {
    display: none;
}

/* res */
/* responsive */
@media(max-width:991px) {

    /* need */
    .pic_l1,
    .pic_l2,
    .pic_l3,
    .pic_l4,
    .pic_l5 {
        width: 96%;
    }

    .tabcontent {
        text-align: center;
    }

    .tabcontent .col-lg-6 {
        justify-content: center !important;
    }

    .op_i,
    .op_ii,
    .op_iii,
    .op_iv,
    .op_v {
        height: 66px;
        width: 66px;
    }

    .need_pd p {
        font-size: 12px !important;
        line-height: 18px;
    }

    .need_pd {
        padding: 12px 14px;
    }
}

@media(max-width:767px) {

    /* need */
    .need_pd {
        padding: 12px 14px;
    }

    .pic_l1,
    .pic_l2,
    .pic_l3,
    .pic_l4,
    .pic_l5 {
        height: 355px;
    }

    .container {
        padding: 0 15px !important;
    }

}

@media(max-width:525px) {

    /* need */
    .op_i,
    .op_ii,
    .op_iii,
    .op_iv,
    .op_v {
        height: 48px;
        width: 48px;
    }

    .pic_l1,
    .pic_l2,
    .pic_l3,
    .pic_l4,
    .pic_l5 {
        height: 340px;
    }
}

@media(max-width:475px) {

    /* need */
    .need_pd {
        padding: 12px;
    }

    .op_i,
    .op_ii,
    .op_iii,
    .op_iv,
    .op_v {
        height: 42px;
        width: 42px;
    }

    .pic_l1,
    .pic_l2,
    .pic_l3,
    .pic_l4,
    .pic_l5 {
        height: 305px;
    }

    .need p {
        font-size: 18px;
        line-height: 25px;
    }
}

@media(max-width:440px) {

    /* need */
    .pic_l1,
    .pic_l2,
    .pic_l3,
    .pic_l4,
    .pic_l5 {
        width: 98%;
        margin: 20px 0px;
    }

    .op_i,
    .op_ii,
    .op_iii,
    .op_iv,
    .op_v {
        height: 35px;
        width: 35px;
    }

    .need_pd {
        padding: 9px;
    }
}

@media(max-width:385px) {

    /* need */
    .pic_l1,
    .pic_l2,
    .pic_l3,
    .pic_l4,
    .pic_l5 {
        height: 245px;
    }

    .op_i,
    .op_ii,
    .op_iii,
    .op_iv,
    .op_v {
        height: 30px;
        width: 30px;
    }

    .need_pd p {
        font-size: 11px;
        line-height: 16px;
        padding-top: 7px;
    }
}

@media(max-width:362px) {

    /* need */
    .need_pd {
        padding: 6px;
    }

    .op_i,
    .op_ii,
    .op_iii,
    .op_iv,
    .op_v {
        height: 35px;
        width: 35px;
    }

    .need_pd p {
        line-height: 14px;
    }

    .need p {
        font-size: 11px !important;
        line-height: 10px;
    }
}

@media(max-width:350px) {

    .pic_l1,
    .pic_l2,
    .pic_l3,
    .pic_l4,
    .pic_l5 {
        height: 212px;
    }

    .need p {
        font-size: 9px !important;
        line-height: 19px !important;
    }
}



:root {
    --main-green: rgba(130, 169, 60, 1);
    --white: rgba(255, 255, 255, 1);
    --light-gry: rgba(45, 45, 45, 1);
    --for-font-gry: rgba(127, 127, 127, 1);
    --full-body-bk: rgba(27, 27, 27, 1);

}

/* faqs */
.pic_faq {
    background-image: url('/img/faqs-img.jpg');
    height: 487px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.accordion-item {
    border: none !important;
}

.accordion-header button {
    color: var(--white);
    font-weight: 500;
    font-size: 24px;
}

.accordion-button:not(.collapsed) {
    color: var(--white) !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-item {
    background-color: transparent !important;
}

.accordion-button {
    background-color: transparent !important;
    border-radius: 2px;
    padding-left: 0 !important;
}

.accordion-button::after {
    background-image: url('/img/plus.png') !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url('/img/minus.png') !important;
    transform: rotate(0) !important;
}

.accordion-body {
    font-size: 20px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.16px;
    color: var(--for-font-gry);
    padding: 0px 0px !important;
}

/* responsive */
@media(max-width:991px) {
    .faq .row {
        flex-direction: column-reverse;
    }
}

@media(max-width:525px) {
    .pic_faq {
        height: 450px;
    }

    .accordion-body {
        font-size: 14px;
    }

    .accordion-header button {
        font-weight: 500;
        font-size: 17px;
    }
}

@media(max-width:420px) {
    .pic_faq {
        height: 355px;
    }
}

@media(max-width:350px) {
    .pic_faq {
        height: 290px;
    }
}


/* Testimonial */

.testi-box {
    background-color: #292929;
    padding: 15px 30px;
    text-align: center;
    align-items: center;
}

.testi-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.center-img {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.test-img {
    background-color: #333333;
    text-align: center;
}

/* .testimonials{
    transform: scale(1.2);
    transition: transform 0.2s;
} */


.testimonial-container {
    position: relative;
}

.slick-prev-testimonial,
.slick-next-testimonial {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    padding: 15px 19px;
    cursor: pointer;
    border-radius: 48%;
    color: #82A93C;
    z-index: 1;
}

.slick-prev-testimonial {
    left: 24%;
}

.slick-next-testimonial {
    right: 24%;
}

@media (max-width : 1024px) {
    .slick-prev-testimonial {
        left: 263px;
    }

    .slick-next-testimonial {
        right: 263px;
    }

    .slick-prev-testimonial,
    .slick-next-testimonial {
        top: 40%;
        padding: 10px;
    }
}

@media (max-width : 768px) {
    .slick-prev-testimonial {
        left: 334px;
    }

    .slick-next-testimonial {
        right: 334px;
    }

    .slick-prev-testimonial,
    .slick-next-testimonial {
        top: 114%;
        padding: 14px;
    }
}

@media (max-width : 425px) {
    .slick-prev-testimonial {
        left: 165px;
    }

    .slick-next-testimonial {
        right: 165px;
    }

    .slick-prev-testimonial,
    .slick-next-testimonial {
        top: 114%;
        padding: 14px;
    }
}

@media (max-width : 375px) {
    .slick-prev-testimonial {
        left: 145px;
    }

    .slick-next-testimonial {
        right: 145px;
    }

    .slick-prev-testimonial,
    .slick-next-testimonial {
        top: 114%;
        padding: 14px;
    }
}

@media (max-width : 320px) {
    .slick-prev-testimonial {
        left: 107px;
    }

    .slick-next-testimonial {
        right: 107px;
    }

    .slick-prev-testimonial,
    .slick-next-testimonial {
        top: 111%;
        padding: 14px;
    }
}


/* Gallary */
.fsg-40 {
    font-size: 40px;
}

.gallary-pos {
    position: absolute;
    top: 45%;
    left: 30%;
}

.slide-box:hover {
    opacity: 0.4;
}

.g-none .gallary-pos {
    display: none;
}

.g-none:hover .gallary-pos {
    display: block;
}


.slick-next,
.slick-prev {
    top: -25% !important;
}

.slick-next:before {
    content: '→';
    position: absolute;
    font-family: none !important;
    border: 1px solid white;
    padding: 5px 10px;
}

.slick-next {
    right: 3% !important;
}


.slick-prev:before {
    content: '→';
    position: absolute;
    font-family: none !important;
    border: 1px solid white;
    padding: 5px 10px;
}


.slick-prev {
    left: 90% !important;
}

@media (min-width : 991px) {
    .fsg-40 {
        font-size: 30px;
        text-align: start;
    }

}

@media (max-width : 768px) {

    .fsg-40 {
        font-size: 28px;
    }

    .slick-next,
    .slick-prev {
        top: -45% !important;
    }

    .slick-next {
        right: 5% !important;
    }

    .slick-prev {
        left: 85% !important;
    }

}

@media (max-width: 425px) {
    .slick-next {
        right: 45% !important;
    }

    .slick-prev {
        left: 35% !important;
    }

    .slick-next,
    .slick-prev {
        top: 105% !important;
    }

}

@media (max-width:320px) {
    .slick-next {
        right: 42% !important;
    }

    .slick-prev {
        left: 30% !important;
    }

    .slick-next,
    .slick-prev {
        top: 105% !important;
    }

}







/* footer */
.bg-dark-light {
    background-color: #212121;
}

.text-gray {
    color: #7F7F7F;
}

.form-control1 {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: #212121 !important;
    background-clip: padding-box;
    border: 1px solid #7F7F7F;
    -moz-appearance: none;
    appearance: none;
    border-radius: None;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-submit {
    border: 1px solid white !important;
    color: white !important;
    border-radius: 0 !important;
}

.bor-top {
    border-top: 1px solid #7F7F7F;
    margin-bottom: 10px;
}

.ffs-18 {
    font-size: 15px;
}

.mybox1 {
    display: none;
}